%h3 
  = @business.name
%h4 
  = @business.phone_number
-@business.customers.each do |customer|
  = customer.first_name
  = customer.last_name
  |
  = customer.email
  = link_to "Edit", edit_business_customer_path(@business, customer), class: "btn btn-sm btn-primary"
= link_to "Add a Customer", new_business_customer_path(@business), class: "btn btn-primary"


